*{
    margin: 0;
    padding: 0;
    list-style: none;
    /*box-sizing: border-box;*/
}

::placeholder{
    color: #cccccc;
}

.ant-calendar-picker {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1050;
}

.ant-calendar {
    position: relative;
    outline: none;
    width: 280px;
    border: 1px solid #fff;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    background-clip: padding-box;
    line-height: 1.5;
}

.ant-calendar-input-wrap {
    height: 34px;
    padding: 6px 10px;
    box-sizing: border-box;
}

.ant-calendar-input {
    border: 0;
    width: 100%;
    cursor: auto;
    outline: 0;
    height: 22px;
    color: rgba(0,0,0,.65);
    background: #fff;
}

.ant-calendar-date-panel{
    position: relative;
    border-top: 1px solid #e8e8e8;
}

.ant-calendar-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    user-select: none;
    border-bottom: 1px solid #e8e8e8;
}

.ant-calendar-header .ant-calendar-prev-day-btn{
    position: absolute;
    top: 0;
    left: 7px;
    color: rgba(0,0,0,.45);
    font-family: Arial,Hiragino Sans GB,Microsoft Yahei,Microsoft Sans Serif,sans-serif;
    padding: 0 5px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
}

.ant-calendar-header .ant-calendar-next-day-btn{
    position: absolute;
    top: 0;
    right: 7px;
    color: rgba(0,0,0,.45);
    font-family: Arial,Hiragino Sans GB,Microsoft Yahei,Microsoft Sans Serif,sans-serif;
    padding: 0 5px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
}

.ant-calendar-header a {
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}

.ant-calendar-header a:hover {
    color: #40a9ff;
}

.ant-calendar-header .ant-calendar-select{
    padding: 0 2px;
    font-weight: 600;
    display: inline-block;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 40px;
}

.ant-calendar-body {
    padding: 8px 12px;
    user-select: none;
}

.ant-calendar-table{
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
}

.ant-calendar-column-header {
    line-height: 18px;
    width: 33px;
    padding: 6px 0;
    text-align: center;
    font-weight: 400;
}

.ant-calendar-column-header .ant-calendar-column-header-inner {
    display: block;
}

.ant-calendar-cell {
    padding: 3px 0;
    height: 30px;
}

.ant-calendar-not-current-month-cell .ant-calendar-date{
    color: rgba(0,0,0,.25);
}

.ant-calendar-date {
    display: block;
    margin: 0 auto;
    color: rgba(0,0,0,.65);
    border-radius: 2px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: 1px solid transparent;
    padding: 0;
    background: transparent;
    text-align: center;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.ant-calendar-date:hover {
    background: #e6f7ff;
    cursor: pointer;
}

.ant-calendar-date:active {
    color: #fff;
    background: #40a9ff;
}

.ant-calendar-selected-day .ant-calendar-date {
    background: #1890ff;
    color: #fff;
    border: 1px solid transparent;
}

.ant-calendar-footer {
    border-top: 1px solid #e8e8e8;
    line-height: 38px;
    user-select: none;
}

.ant-calendar-footer-btn {
    text-align: center;
    display: block;
}

.ant-calendar-btn{
    cursor: pointer;
    width: 45%;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.confirm-on{
    color: #57afff;
}

.confirm-on:hover{
    color: #1890ff;
}

.cancel-on{
    color: #f95e66;
}

.cancel-on:hover{
    color: #f5222d;
}