*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style: none;
}

.area-different{
    background-color: #f2f2f2;
    padding: 30px;
    margin: 30px;
}

.display-inline {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.position-relative {
    position: relative;
}

.vertical-top {
    vertical-align: top;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-bottom {
    vertical-align: bottom;
}

.cancel-space {
    margin-left: -5px;
}

.offset-left {
    margin-left: 5px;
}

/*按钮样式*/
.button-style {
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
    outline: 0;
    box-sizing: border-box;
}


/*大小*/
.large-btn {
    padding: 0 20px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.default-btn {
    padding: 0 16px;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
}

.small-btn {
    padding: 0 8px;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}

/*实心颜色*/
.right-btn {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.right-btn:focus, .right-btn:hover {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
}

.right-btn:active {
    color: #fff;
    background-color: #096dd9;
    border-color: #096dd9;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.4);
}

.cancel-btn {
    color: #fff;
    background-color: #f5222d;
    border-color: #f5222d
}

.cancel-btn:focus, .cancel-btn:hover {
    color: #fff;
    background-color:#ff555e;
    border-color: #ff555e;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
}

.cancel-btn:active {
    color: #fff;
    background-color: #cd1720;
    border-color: #cd1720;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.4);
}

/*空心颜色*/
.hollow-right-btn {
    color: #1890ff;
    background-color: #fff;
    border-color: #1890ff;
}

.hollow-right-btn:focus, .hollow-right-btn:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
    box-shadow: inset 0 0 8px rgba(24, 144, 255, 0.3);
}

.hollow-right-btn:active {
    color: #096dd9;
    background-color: #fff;
    border-color: #096dd9;
    box-shadow: inset 0 0 8px rgba(24, 144, 255, 0.5);
}

.hollow-cancel-btn {
    color: #f5222d;
    background-color: #fff;
    border-color: #f5222d;
}

.hollow-cancel-btn:focus, .hollow-cancel-btn:hover {
    color: #ff555e;
    background-color: #fff;
    border-color: #ff555e;
    box-shadow: inset 0 0 8px rgba(245, 34, 45, 0.3);
}

.hollow-cancel-btn:active {
    color: #cd1720;
    background-color: #fff;
    border-color: #cd1720;
    box-shadow: inset 0 0 8px rgba(245, 34, 45, 0.5);
}

/*多按钮样式*/
.many-btn-line >*{
    border-radius: 0;
    border-right-color: #fff;
}

.many-btn-line .button-style{

}

.many-btn-line .button-style:first-child {
    border-radius: 4px 0 0 4px;
}

.many-btn-line .button-style:last-child {
    border-radius: 0 4px 4px 0;
    border-right-color: transparent;
}

/*按钮文本框样式*/
.many-btn-input-line >*{
    border-radius: 0;
}

.many-btn-input-line .input-style{
    border-radius: 0;
}

.many-btn-input-line .button-style:first-child {
    border-radius: 4px 0 0 4px;
}

.many-btn-input-line .input-style:last-child {
    border-radius: 0 4px 4px 0;
}

/*下拉文本框样式*/
.many-drop-input-line >*{
    border-radius: 0;
}

.many-drop-input-line .select-put{
    border-radius: 0;
}

.many-drop-input-line .input-style{
    border-radius: 0;
}

.many-drop-input-line .select-put:first-child {
    border-radius: 4px 0 0 4px;
}

.many-drop-input-line .input-style:last-child {
    border-radius: 0 4px 4px 0;
}

.many-drop-input-line .input-select-style {
    border-radius: 0 4px 4px 0;
}

/*.many-drop-input-line .input-select-style:last-child {*/
    /*border-radius: 0 4px 4px 0;*/
/*}*/

/*下拉文本选择样式*/
.many-drop-select-line >*{
    border-radius: 0;
}

.many-drop-select-line .select-put{
    border-radius: 0;
}

.many-drop-select-line .input-select-style{
    border-radius: 0;
}

.many-drop-select-line .select-put:first-child {
    border-radius: 4px 0 0 4px;
}

.many-drop-select-line .input-select-style:last-child {
    border-radius: 0 4px 4px 0 !important;
}

/*单选框样式*/
.demo-label {
    font-size: 14px;
    margin: 10px 10px 0 0;
    display: inline-block;
    cursor: pointer;
}

.demo-radio {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
}

.demo-radioInput {
    background-color: #fff;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 10px;
    margin-top: -1px;
    vertical-align: middle;
    line-height: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.demo-radioInput:hover {
    border: 1px solid #1890ff;
}

.demo-radio:checked + .demo-radioInput {
    border: 1px solid #1890ff;
}

.demo-radio:checked + .demo-radioInput:after {
    background-color: #1890ff;
    border-radius: 100%;
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    left: 3px;
    top: 3px;
    -webkit-transition: all .1s cubic-bezier(.71,-.46,.88,.6);
    transition: all .1s cubic-bezier(.71,-.46,.88,.6);
}

.demo-checkbox.demo-radioInput, .demo-radio:checked + .demo-checkbox.demo-radioInput:after {
    border-radius: 0
}

.true-radio{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
}

.party {
    display: inline-block;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    line-height: 1;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.true-radio:checked + .party {
    background-color: #fff;
    border-color: #1890ff;
}

.true-radio:checked + .party:after {
    content: "";
    background-color: #1890ff;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 2px;
}

/*下拉列表*/
.select-style {
    outline: none;
    width: 140px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    vertical-align: top;
}

.select-put {
    display: inline-block;
    outline: none;
    width: 100%;
    color: #fcfcfc;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(.645, .045, .355, 1);
    transition: all 0.3s cubic-bezier(.645, .045, .355, 1);
    border-radius: 4px;
}

.select-put-bg1{
    background-color: #1890ff;
}

.select-put-bg1:hover {
    background-color: #40a9ff;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
}

.select-put-bg1:active {
    color: #fff;
    background-color: #096dd9;
    border-color: #096dd9;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
}

.select-put-bg1 p {
    width: 90px;
    padding-left: 20px;
    border-right: 1px solid #40a9ff;
}

.select-put-bg2{
    background-color: #f3464f;
}

.select-put-bg2:hover {
    background-color: #f9646c;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
}

.select-put-bg2:active {
    color: #fff;
    background-color: #d83a42;
    border-color: #d83a42;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
}

.select-put-bg2 p {
    width: 90px;
    padding-left: 20px;
    border-right: 1px solid #f9646c;
}

.select-put-large{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.select-put-default{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.select-put-small{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.drop-select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
}

.drop-select ul {
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.drop-select ul li {
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
}

.drop-select ul li a {
    text-align: left;
    text-indent: 20px;
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    display: block;
    background-color: #fcfcfc;
    width: 100%;
    color: #666;
    font-size: 14px;
    -webkit-transition: all .2s cubic-bezier(.645, .045, .355, 1);
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.drop-select ul li a:hover {
    background-color: #e6f7ff;
}

.triangle {
    position: absolute;
    top: 42%;
    right: 10px;
    padding-bottom: 20px;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: #fcfcfc transparent transparent transparent;
}

/*文本选择列表*/
.input-select-content{
    outline: none;
    width: 140px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    vertical-align: top;
}

/*文本框样式*/
.input-style {
     position: relative;
     text-align: left;
     width: 140px;
     border-radius: 4px;
     border: 1px solid #d9d9d9;
     color: #666;
     transition: all .3s cubic-bezier(.645, .045, .355, 1);
     line-height: 1.5;
 }

.input-style::placeholder{
    color: #ccc;
}

.input-style:hover {
    border-color: #40a9ff;
}

.input-style:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

/*文本框样式*/
.input-select-style {
    position: relative;
    text-align: left;
    width: 140px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    color: #666;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    line-height: 1.5;
}

.input-select-style::placeholder{
    color: #ccc;
}

.input-select-style:hover {
    border-color: #40a9ff;
}

.input-select-style:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

.input-style-large {
    padding: 6px 11px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-style-default {
    padding: 6px 10px;
    height: 34px;
    font-size: 14px;
    box-sizing: border-box;
}

.input-style-small {
    padding: 2px 10px;
    height: 28px;
    font-size: 14px;
    box-sizing: border-box;
}

/*文本区域样式*/
.textArea-style {
    position: relative;
    text-align: left;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    color: #666;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    line-height: 1.5;
    height: 300px;
    min-height: 100px;
    max-height: 300px;
    padding: 5px;
    min-width: 100%;
    font-size: 14px;
}

.textArea-style::placeholder{
    color: #ccc;
}

.textArea-style:hover {
    border-color: #40a9ff;
}

.textArea-style:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

.ant-group{
    word-spacing: -5px;
}

.ant-group>* ,.ant-group .select-style .select-put ,.ant-group .input-select-content .input-select-style {
    border-radius: 0;
    border-left-color: #cccccc;
}

.ant-group>:first-child, .ant-group>.select-style:first-child>.select-put, .ant-group>.input-select-content:first-child>.input-select-style {
    border-radius: 4px 0 0 4px;
}

.ant-group>:last-child, .ant-group>.select-style:last-child>.select-put, .ant-group>.input-select-content:last-child>.input-select-style {
    border-radius: 0 4px 4px 0;
}
