* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.display-inline {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.positon-relative {
  position: relative;
}

.vertical-middle {
  vertical-align: middle;
}

.cancel-space {
  margin-left: -5px;
}

.offset-left {
  margin-left: 5px;
}

.left-tb-border {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.right-tb-border {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.public-class{
  display: none;
  transition: transform 0.5s ease-in-out 0s;
}

.public-active{
  display: block;
}

.title-all {
  background-color: #f2f2f2;
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  /*box-shadow: inset 0 -2px 10px rgba(0,0,0,0.1);*/
  /*width: 1200px;*/
}

.title-all ul {
  height: 80px;
  text-align: center;
}

.title-all ul li {
  display: inline-block;
  height: 80px;
  text-align: center;
  cursor: pointer;
  margin: 0 30px;
}

.title-all ul li img{
  opacity: 0.9;
  transition: opacity 0.8s ease-in-out 0s;
}

.title-all ul li img.active{
  opacity: 1;
}

.title-all ul li p {
  margin-top: -5px;
  font-size: 14px;
  color: #666;
  transition: color 0.2s ease-in-out 0s;
  position: relative;
}

.form-all {
  min-height: 600px;
  margin: auto;
  /*line-height: 600px;*/
}


.title {
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #5677fc;
  color: #fff;
  font-size: 14px;
}

.input-style {
  text-align: left;
  text-indent: 10px;
  width: 300px;
  height: 40px;
  line-height: 40px;
  /*background-color: #eee;*/
  border: 1px solid #5677fc;
  color: #666;
  font-size: 14px;
}

.radio-style {
  display: inline-block
}

.button-style {
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background-color: #5677fc;
  width: 100px;
  font-size: 14px;
  cursor: pointer;
}

.button-style:hover {
  background-color: #4e6cef;
}

.radio-style {
  width: 16px;
  height: 16px;
  background-color: #5677fc;
}

.radio-content {
  font-size: 14px;
}

.demo--label {
  font-size: 14px;
  margin: 10px 10px 0 0;
  display: inline-block;
  cursor: pointer;
}

.demo--radio {
  display: none
}

.demo--radioInput {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  margin-top: -1px;
  vertical-align: middle;
  width: 16px;
  line-height: 1
}

.demo--radio:checked+.demo--radioInput:after {
  background-color: #5677fc;
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 10px;
  margin: 2px;
  width: 10px
}

.demo--checkbox.demo--radioInput, .demo--radio:checked+.demo--checkbox.demo--radioInput:after {
  border-radius: 0
}

.party {
  display: inline-block;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  line-height: 1;
  vertical-align: middle;
  margin-right: 10px;
}

.true-radio:checked+.party:before {
  content: "";
  background-color: #5677fc;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 2px;
}

.test1 {
  /* display: none; */
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #5677fc;
  vertical-align: middle;
}

.test2 {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #5677fc;
  /* border: 1px solid #5677fc; */
  vertical-align: middle;
  position: relative;
}

.test2:after {
  transform: rotate(45deg);
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 37%;
}
.select-style{
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.select-style option{
  width: 200px;
  margin: auto;
  border: 1px solid #5677fc;
  text-align: center;
  color: #5677fc;
}

.select-put{
  width: 100%;
  border: 1px solid #5677fc;
  height: 40px;
  line-height: 40px;
  background-color: #5677fc;
  color: #fcfcfc;
  font-size: 14px;
  position: relative;
}

.select-put:hover{
  background-color: #4e6cef;
}

.select-style ul{
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #ccc;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.select-style ul li{
  background-color: #fcfcfc;
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.select-style ul li a:hover{
  background-color: #f2f2f2;
}

.select-style ul li a{
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #fcfcfc;
  width: 100%;
  color: #666;
  text-align: center;
  font-size: 14px;
}

.jiao{
  position: absolute;
  top: 17px;
  right: 10px;
  padding-bottom: 20px;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #fcfcfc transparent transparent transparent;
}